<app-home-page></app-home-page>
<mat-toolbar>
  <mat-toolbar-row>
    <span>My Cart</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Card Details</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Shipping Details</h4>

        <!-- <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>
</div>
