<app-category-creation></app-category-creation>

<!-- <button (click)="refreshCategoryListing()">Refresh</button> -->
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  [width]="1000"
>
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- product_name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Category Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onEdit(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="refresh">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="refreshCategoryListing()">
        <mat-icon>refresh</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
